attrdict3==2.0.2
customtkinter==5.1.3
darkdetect~=0.8.0
flatbuffers==23.5.26
matplotlib==3.7.1
mediapipe==0.10.0
numpy==1.24.3
opencv-contrib-python==4.7.0.72
Pillow==9.5.0
psutil==5.9.5
pyautogui==0.9.54
pynput==1.7.6
sounddevice==0.4.6
tk==0.1.0
wxpython==4.2.0; sys_platform != 'win32'
PyDirectInput==1.0.4; sys_platform == 'win32'
# pydirectinput-rgx==2.0.7; sys_platform == 'win32'
pyuac==0.0.3; sys_platform == 'win32'
pywin32==306; sys_platform == 'win32'


