flatbuffers==23.5.26
sounddevice==0.4.6
matplotlib==3.7.1
opencv-contrib-python==4.7.0.72
psutil
pyautogui
customtkinter
pywin32==306; sys_platform == 'win32'
mediapipe
tk==0.1.0
pydirectinput-rgx==2.0.7
pynput==1.7.6
attrdict3==2.0.2
wxPython==4.2.0
Pillow
numpy
PyDirectInput
darkdetect~=0.8.0