flatbuffers==2.0.0
sounddevice==0.4.6
matplotlib==3.7.1
opencv-contrib-python==4.7.0.72
psutil==5.9.4
pyautogui==0.9.53
customtkinter==5.1.2
mediapipe==0.9.3.0
PyDirectInput==1.0.4;  sys_platform == 'win32'
pywin32==306;  sys_platform == 'win32'
pyinstaller==5.11.0 
