on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write
  
jobs:

  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff
    - name: Analysing the code with ruff
      run: |
        ruff check .

  # The build job runs on a Windows machine and performs various build steps.
  build:
    runs-on: windows-latest
    needs: check
    steps:    
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Freeze Installer
      run: |
        pyinstaller build.spec 
    - name: Build Installer
      run: |
        iscc installer.iss
    - name: Freeze Portable
      run: |
        pyinstaller --distpath dist-portable build-portable.spec
        
    - name: Zip Portable 
      shell: pwsh
      run: |
        Copy-Item -Path assets -Destination dist-portable\ -Recurse
        Copy-Item -Path configs -Destination dist-portable\ -Recurse
        Compress-Archive -Path dist-portable -DestinationPath Grimassist-Portable-${{github.ref_name}}.zip
    
    - name: release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          Output/Grimassist-Installer-${{github.ref_name}}.exe
          Grimassist-Portable-${{github.ref_name}}.zip
        tag_name: github.ref_name
        draft: false
        prerelease: false
